@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}
// @mixin font($size, $weight, $family, $color: red, $space: 15px) {
//     font-size: $size;
//     font-weight: $weight;
//     font-family: $family;
//     letter-spacing: $space;
// }
@mixin p($color) {
    font-size: 18px;
    font-weight: 400;
    color: $color;
    margin-top: 34px;
}
@mixin h1($color) {
    font-size: 60px;
    font-weight: 700px;
    color: $color;
}
@mixin btn($bg, $marg) {
    width: 285px;
    height: 60px;
    border-radius: 10px;
    background: $bg;
    margin-left: 24px;
    margin-top: 25px;
    padding-top: 19px;
    margin-left: $marg;
}
@mixin a($color) {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: $color;

}