@import 'variables';
@import 'mixins';
*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1280px;
    padding: 0 40px;
    margin: auto;
}
.header-section{
    padding-top: 60px;
    background: linear-gradient(0deg, #211F20, #211F20),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) ;
}
.header-main{
    @include fb();
}
.logo{
    .main-logo{
        @include font(32px,$primary-color,400,$georgia);
    }
    .sub-logo{
        margin-top: 10px;
        @include font(13px,$white,400,$arial);
    }
}
.menu{
    &-burger{
        display: none;
        transition: 1s ease-in-out;
        z-index: 100;
        div{
            width: 30px;
            height: 2px;
            background: $primary-color;
            transition: 1s ease-in-out;
            &:nth-child(2){
                margin: 10px 0;
            }
        }
    }
    &-item{
        display: inline-block;
        margin: 0 17px;
    }
    &-item.active{
        position: relative;
        a{
            color: $white;
        }
        &::before{
            @include pseudo(100%,3px);
            background: $primary-color;
            bottom: -10px;
            left: 0;
        }
    }
    &-link{
        @include font(15px,$cd-color,400,$arial)
    }
    &-list{
        transition: 1s ease-in-out;
    }
}
.main{
    &-wrap{
        margin-top: 60px;
        @include fb();
        flex-wrap: nowrap;
    }
    &-content{
        width: 460px;
        .content-header{
            h1{
                @include font(44px,$white,400,$georgia);
            }
        }
        .content-description{
            margin: 42px 0;
            p{
                @include font(15px,$cd-color,400,$arial);
                line-height: 160%;
            }
        }
    }
    &-image{
        width: 698px;
        img{
            width: 100%;
        }
    }
}
.btn{
    a{
        @include font(17px,$dark-color,400,$georgia);
        padding: 15px 45px;
        border-radius: 100px;
        background: $primary-color;
        display: inline-block;
    }
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 50px;
}
.section-header{
    @include font(35px,$light-gray,400,$georgia)
}
.about-section{
    padding: 94px 0 100px;
}
.about{
    &-wrap{
        @include fc();
        &-image,&-description{
            flex-basis: 50%;
        }
        &-image{
            text-align: center;
            img{
                width: 60%;
            }
        }
        &-description{
            p{
                margin-top: 25px;
                @include font(15px,$color4,400,$arial);
                line-height: 160%;
                padding-right: 50px;
            }
        }
    }
}
.help-section{
    padding: 80px 0 100px;
    .help-header{
        text-align: center;
    }
}
.shelter-wrap{
    @include font(20px,$light-gray,400,$georgia);
    @include fa();
    &__item{
        text-align: center;
        margin-top: 85px;
        width: 201px;

    }
}
.pets-section{
    padding: 80px 0 100px;
    background: #F6F6F6;
}
.pets-header{
    h2{
        text-align: center;
    }
}
.pets{
    margin-top: 60px;
    padding: 0 105px;
    position: relative;
    &-item{
        width: 270px;
        // background: #fafafa;
        background: #fafafa;
        border-radius: 9px;
        padding-bottom: 30px;
        margin: auto;
        &__name{
            margin-top: 30px;
            p{
                @include font(20px,$light-gray,400,$georgia);
                text-align: center;
            }
        }
        .btn{
            text-align: center;
            margin-top: 30px;
            a{
                background: none;
                border: 2px solid $primary-color;
            }
        }

    }
}
.slick-prev,.slick-next{
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    font-size: 0;
    transform: translate(-50%);
    border: none;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;

}
.slick-prev::after,.slick-next::before{
    @include pseudo(52px,52px);
    border-radius: 50%;
    border: 2px solid $primary-color;
    background: url('../images/arrow.png') no-repeat center;
    background-size: 14px;
    cursor: pointer;
}
.slick-next::before{
    transform:translate(-100%) rotate(180deg);
}
.donation{
    background: #F6F6F6;
    &-image{
        img{
            width: 90%;
        }
    }
    .card-details{
        @include font(15px,$light-gray,400,$georgia)
    }
    .donation-card{
        
        background: $primary-color;
        border-radius: 9px;
        line-height: 23px;
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 349px;
        margin-top: 20px;
        p{
            @include font(20px,$light-gray,400,$georgia);
            margin: -25px;
        }
    
        .credit-img{
            margin-right: 45px;
            
        }
        .credit-card{
            @include fc();
        }

    }

}
.donation-info{
    @include font(12px,#B2B2B2,400,$arial);
    font-style: italic;
}

.main-footer-wrap{
    @include fa();
}

.footer-section{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer-list{
    @include fa();
    .footer-img{
        img{
            max-width: 100%;
        }

    }
}
.questions-suggestions{
    h2{
        @include font(35px,$white,400,$georgia);
        margin-bottom: 45px;
    }
    .contact{
        margin-bottom: 49px;
        @include fc();
        justify-content: left;
        img{
            margin-right: 20px;
        }
        p{
           @include font(20px,$primary-color,400,$georgia)
        }
    }
}
.location{
    margin-left: 160px;
    h2{
        @include font(35px,$white,400,$georgia);
        margin-bottom: 45px;
    }
    
    .location-info{
        margin-bottom: 49px;
        @include fc();
        justify-content: left;
        img{
            margin-right: 20px;
        }
        p{
           @include font(20px,$primary-color,400,$georgia)
        }
    }
}


.pets-header{
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.pets-main-wrap{
    @include fb();
    .pets-logo{
        margin-top: 30px;
        .main-pets-logo{
            @include font(32px,$light-gray,400,$georgia);
            margin-top: 10px;
        }
        .sub-pets-logo{
            @include font(13px,$dark-color,400,$arial)
        }
    }
}


// PSEUDO IS NOT DISPLAYING ??? 
.header-menu-list{
    @include fb();
    margin-top: 46px;
    .header-menu-item{
        margin-right: 35px;
        a{
            @include font(15px,$dark-color,400,$arial)
        }
    }
    .header-menu-item .active{
        position: relative;
        .header-menu-item::before{
            @include pseudo(100%,3px);
            background: $primary-color;
        }
}
}
.friends-section{
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}
.friends-grid{
    @include fb()
}

.friends-section-header{
    @include fc();
    text-align: center;
    @include font(35px,$dark-color,400,$georgia);

}
.friends{
    margin-top: 30px;
}
.scroll-section{
    @include fc();
    margin-top: 60px;

}
.first-page-arrow,.previous-page-arrow,.current-page-arrow,.next-page-arrow,.last-page-arrow{
    border-radius: 50%;
    border: 2px solid $cd-color;
    width: 52px;
    height: 52px;
    background: url('') no-repeat center;
    background-size: 40px; 
    cursor: pointer;
    margin-right: 20px;
}
.first-page-arrow{
    background: url('../images/__.png') no-repeat center;
}
.previous-page-arrow{
    background: url('../images/_.png') no-repeat center;
}
.current-page-arrow{
    text-align: center;
    padding-top: 12px;
    a{
        @include font(20px,$dark-color,400,$georgia);
        
    }
    border: none;
    background: $primary-color;
    
}
.next-page-arrow{
    background: url('../images/right.png') no-repeat center;
    border: 2px solid $primary-color;
}
.last-page-arrow{
    background: url('../images/right(2).png') no-repeat center;
    border: 2px solid $primary-color;
}
