@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import 'variable';
@import 'mixins';
*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

// .box{
//     width: $width;
//     height: $height;
//     background: $main-color;
//     @include center;
//     .mini-box{
//         width: 50px;
//         height: 50px;
//         background: red;
//     }
//     &-test{
//         width: 100px;
//         height: 100px;
//         background: green;
//         &:hover{
//             background: #000;
//         }
//     }
//     &:hover &-test{
//         background: red;
//     }
// }
// .wrap{
//     width: 100%;
//     height: 500px;
//     @include center;
//     &-item{
//         width: 100px;
//         height: 100px;
//         margin: 10px;
//         background: #000;
//     }
// }
// .test1{
//     @include font(25px,700,$font-fuzzy,green);
// }
// .test2{
//     @include font(35px,400,$font-fuzzy,black,1px);
// }
.wrap-main{
    @include center
}
.wrap-starter{
    text-align: center;
    .free-card{
        padding-top: 34px;
        width: $side-card-width;
        height: $side-card-height;
        background: $side-card-bg;
        border-radius: $br-radius;
        margin-top: 50px;
    }
    p{
        @include p(#696871)
    }
    .start{
        margin-bottom: 22px;
    }
    h1{
        @include h1(#000)
    }
    .btn{
        @include btn(#fff, 24px)
    }
    a{
        @include a(#5454D4)
    }

}
.wrap-premium{
    text-align: center;
    .premium-card{
        padding-top: 34px;
        width: 376px;
        height: 473px;
        background:#FF7143;
        border-radius: $br-radius;
        margin-left: 18px;
        margin-top: 50px;
    }
    p{
        @include p(#fff)
    }
    h1{
        @include h1(#fff)
    }
    .btn{
        @include btn(#9F3919, 40px)
    }
    a{
        @include a(#fff)
    }

}
.wrap-enter{
    text-align: center;
    .enter-card{
        padding-top: 34px;
        width: $side-card-width;
        height: $side-card-height;
        background: $side-card-bg;
        border-radius: $br-radius;
        margin-left: 15px;
        margin-top: 50px;
    }
    p{
        @include p(#696871)
    }
    .start{
        margin-bottom: 22px;
    }
    h1{
        @include h1(#000)
    }
    .btn{
        @include btn(#fff, 24px)
    }
    a{
        @include a(#5454D4)
    }
}