// $main-color: teal;
// $width: 100%;
// $height: 200px;
// $font-fuzzy:'Fuzzy Bubbles', cursive;

// $pc: 1200px;
// $laptop:980px;

$side-card-width: 330px;
$side-card-height: 441px;
$side-card-bg: #F8F8F8;
$br-radius: 10px;